<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="/css/index.css" />
      <link rel="stylesheet" type="text/css" href="/css/menu.css" />
      <link rel="stylesheet" type="text/css" href="/css/cursoInicio.css" />

  </head>
  <body>

    <div><%- include ('partials/navigationUsuarios.ejs') %></div>
    <div><%- include ('partials/navigationInicioCurso.ejs') %></div>
    <% if (rta) { %>
  <div><%- include ('partials/navigation.ejs') %></div>
    <div class="container">
        <div><br/></div>
    <div class="card">
      <div class="jumbotron" style="background-color: white">
        <b>Curso:</b> <%=rta.nombre %><br/>
        <b>Descripción:</b> <%=rta.descripcion%><br/>
        <b>Creado por:</b> <%=rta.creador %>-(<i><%=rta.fecha %></i>)

        <%if(user){%>
        <br/><br/><b>Contenido:</b>
          (<a href="/units/nuevaUnidad/<%= rta._id %>/1">Nueva unidad</a>)<br/><hr/>
        <%}%>


<% if(user){%>
  <% lasUnidades.forEach(function(u){%>

      <b>Unidad <%=u.orden%>:</b> <%=u.nombre%><br/>
      <b>Descripcion:</b> <%=u.descripcion%>  <br/> 
        <a  href="/courses/cursosMain">Nuevo tema</a><a>&nbsp;|&nbsp;</a>
        <a href="/units/editarUnidad/<%= u._id %>">Editar</a><a>&nbsp;|&nbsp;</a>
          <a href="/units/editarUnidad/<%= u._id %>">Eliminar</a>
       <hr/>

  <%});%>


<% } %>


        <% if(!user){%>
           <li class="list-group-item list-group-item-primary"><b>Contenido</b></li>

          <% lasUnidades.forEach(function(u){%>
            <ul class="list-group">
              <li class="list-group-item">
                <b>Unidad <%=u.orden%>:</b> <%=u.nombre%> -
                <b>Descripcion:</b> <%=u.descripcion%>
                </li>
            </ul>
          <%});%>


        <% } %>
        <%}%>


  </div>

</div>
  <div id="pie"><%- include ('partials/footer.ejs') %></div>
  </body>
</html>
