<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="/css/index.css" />
      <link rel="stylesheet" type="text/css" href="/css/menu.css" />
      <link rel="stylesheet" type="text/css" href="/css/cursoInicio.css" />
      <link rel="stylesheet" type="text/css" href="/css/tablaCursoInicio.css" />

  </head>
  <body>

    <div><%- include ('partials/navigationUsuarios.ejs') %></div>
    <div><%- include ('partials/navigationInicioCurso.ejs') %></div>
    <% if (rta) { %>
  <div><%- include ('partials/navigation.ejs') %></div>
    <div class="container">
        <div><br/></div>
    <div class="card">
      <div class="jumbotron" style="background-color: white">
        <% if(ok_registro.length>0) {%>
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <%= ok_registro %>
      </div>
        <%}%>
        <% if(ok_editarUnidad.length>0) {%>
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            Unidad <b><%= ok_editarUnidad %></b> editada correctamente.
      </div>
        <%}%>
        <h5 class="card-title"><b>Unidades</b> - <%=rta.nombre %></h5>

        <%=rta.descripcion%>
        (<i><%=rta.creador %>::<%=rta.fecha %></i>)<br/>
        <%if(user){%>
          <img src="/img/add.png" alt="Nuevo" />
          <a href="/units/nuevaUnidad/<%= rta._id %>/1">Nueva unidad</a>
        <%}%>
<% if(user){%>
  <br/><br/>
<table id="tablaInicio">
    <tr class="losTH">
      <th>Unidad</th>
      <th>Opciones</th>
    </tr>
    <% lasUnidades.forEach(function(u){%>
      <tr class="contenido">
        <td>
          <img src="/img/up.png" alt="Editar">
          <img src="/img/down.png" alt="Editar">
          <b><%=u.orden%>.</b> <%=u.nombre%></td>

        <td>

          <img src="/img/editarCurso.png" alt="Editar">
                <a href="/units/editarUnidad/<%= u._id %>">Editar</a>&nbsp;&nbsp;

              <!--////////////////
              <!-- Modal -->
              <div class="modal fade" id="exampleModal<%= u._id %>" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalLabel">
              <div class="modal-dialog" role="document">
              <div class="modal-content">
              <div class="modal-header">
              <h6 class="modal-title" id="exampleModalLabel">¡ Atención !</h6>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
              </div>
              <div class="modal-body">
              ¿Confirma eliminar: <b><%= u.nombre %></b>?
              </div>
              <div class="modal-footer">
                <form class="" action="/units/deleteUnidad/<%= u._id %>?_method=DELETE" method="post">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="btn btn-primary">Confirmo eliminar</button>
              </form>
              </div>
              </div>
              </div>
              </div>
              <!--////////////////-->
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-link"
              data-toggle="modal" data-target="#exampleModal<%= u._id %>"
              aria-hidden="true">
              <img src="/img/delete.png" alt="Eliminar curso">Eliminar
              </button>

               </td>

  </tr>
  <%});%>

</table>
<% } %>


        <% if(!user){%>
          <br/>  <br/>

          <table id="tablaInicio">
            <tr class="losTH">
            <th>Unidad</th><th>Descripción</th>
            </tr>
          <% lasUnidades.forEach(function(u){%>
              <tr class="contenido">

                <td><%=u.orden%>.<%=u.nombre%></td>

                    <% if (u.descripcion.length>90) {%>
                <td>  <%=u.descripcion.substring(0,90)%>...</td>
                  <%}else{%>
                    <td>  <%=u.descripcion%><td>
                    <%}%>
              </tr>
          <%});%>
        </table>

        <% } %>
        <%}%>


  </div>

</div>
  <div id="pie"><%- include ('partials/footer.ejs') %></div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

  </body>
</html>
