<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/css/nuevoCurso.css" />
<link rel="stylesheet" type="text/css" href="/css/index.css" />
  </head>
  <body>
    <div><%- include ('partials/navigation.ejs') %></div>
<div><%- include ('partials/navigationUsuarios.ejs') %></div>
<div><%- include ('partials/navigationGestionCursos.ejs') %></div>
<div class="container">
    <div class="card"><div class="jumbotron">
    
      <% if(error_registro) {%>
      <div class="alerta">
        <%= error_registro %>
      </div>
      <%}%>
      <% if(ok_registro) {%>
      <div class="alertaVerde">
        <%= ok_registro %>
      </div>
      <%}%>

      <% if(informacion) {%>
      <div class="alertaNaranja">
        <%= informacion %>
      </div>
      <%}%>


       <% if (user && rta) { %>
          <br/>  <form name="f1" action="/main/editarCurso/<%= rta._id %>?_method=PUT" method="POST">
            <input type="hidden" name="_method" value="PUT">
      <div class="form-group">
        <input type="text"  class="form-control" name="nombre" value="<%=rta.nombre%>"
        autofocus placeholder="Nombre del curso" aria-describedby="emailHelp" />
        <small id="emailHelp" class="form-text text-muted">Nombre del curso</small>
      </div>
      <div class="form-group">
        <textarea rows="5" cols="55"  class="form-control" name="descripcion"
        autofocus placeholder="Descripción breve"><%=rta.descripcion%></textarea>
        <small id="emailHelp" class="form-text text-muted">Descripción breve del curso</small>
      </div>
        <input class="btn btn-primary" type="submit" name="boton" value="Editar Curso">
      </form>
</div>
    <%}else{%>
        <div class="alerta">
      Usuario no autorizado
    </div>
      <%}%>
</div><div id="pie"><%- include ('partials/footer.ejs') %></div>
</div>
  </body>
</html>
