<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="/css/index.css" />
  <link rel="stylesheet" type="text/css" href="/css/menu.css" />
  </head>
  <body>

<div><%- include ('partials/navigationUsuarios.ejs') %></div>
<div><%- include ('partials/navigationInicioCurso.ejs') %></div>
<div class="container">
<div><br/></div>
    <div class="card"><div class="jumbotron mt-0" style="background-color: white;">
      <a href="/courses/inicioCurso/<%= rta._id %>"><img src="/img/back.png">Regresar</a>
      <hr style="width:20%;text-align:left;margin-left:0">
      <h6 class="card-title"><b>Nueva unidad:</b><i><%=rta.nombre %></i></h6>
      <% if(rta>0) {%>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= error_registro %>
    </div>
      <%}%>
      <% if(error_registro.length>0) {%>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= error_registro %>
    </div>
      <%}%>
      <% if(ok_registro.length>0) {%>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= ok_registro %>
    </div>
      <%}%>
       <% if (user) { %>

          <br/><form name="f1" action="/units/nuevaUnidad" method="POST">
      <div class="form-group">
      <input type="text"  class="form-control" name="nombre"
      autofocus placeholder="Título de la unidad" aria-describedby="emailHelp" />
      <small id="emailHelp" class="form-text text-muted">Título de la unidad</small>
    </div>
    <div class="form-group">
      <textarea rows="5" cols="55"  class="form-control" name="descripcion"
      autofocus placeholder="Descripción breve"></textarea>
      <small id="emailHelp" class="form-text text-muted">Descripción breve de la unidad</small>
    </div>
      <input class="btn btn-primary" type="submit" name="boton" value="Registrar">
    </form>
  </div>
    <%}else{%>
      <div class="alerta">
      Usuario no autorizado
     </div>
      <%}%>
  </div>
</div>
 <div id="pie"> <%- include ('partials/footer.ejs') %>
 </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
