<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/css/nuevoUsuario.css" />
<link rel="stylesheet" type="text/css" href="/css/index.css" />
  </head>
  <body>
    <div><%- include ('partials/navigation.ejs') %></div>
<div><%- include ('partials/navigationUsuarios.ejs') %></div>
<div><%- include ('partials/navigationGestionUsuarios.ejs') %></div>
<div class="container">
      <div class="card"><div class="jumbotron mt-0" style="background-color: white;">
      <% if(error_registro) {%></i>
      <div class="alerta">
        <%= error_registro %>
      </div>
      <%}%>
      <% if(ok_registro) {%></i>
      <div class="alertaVerde">
        <%= ok_registro %>
      </div>
      <%}%>

      <div class="alertaVerde">
      </div>
       <% if (user) { %>
          <br/>  <form action="/main/nuevoUsuario" method="POST">
            <div class="form-group">
              <input type="text"  class="form-control" name="nombre" autofocus placeholder="Nombre completo" aria-describedby="emailHelp" />
              <small id="emailHelp" class="form-text text-muted">Nombre completo</small>
            </div>
      <div class="form-group">
        <input type="text"  class="form-control" name="usuario" autofocus placeholder="Usuario" aria-describedby="emailHelp" />
        <small id="emailHelp" class="form-text text-muted">Usuario</small>
      </div>

      <div class="form-group">
        <input type="password"  class="form-control" name="clave" value="" placeholder="Clave" aria-describedby="emailHelp" />
        <small id="emailHelp" class="form-text text-muted">Clave</small>
        </div>
        <input class="btn btn-primary" type="submit" name="boton" value="Registrar">
      </form>
</div>
    <%}else{%>
        <div class="alerta">
      Usuario no autorizado
    </div>
      <%}%>
</div></div><div id="pie"><%- include ('partials/footer.ejs') %></div></div>
  </body>
</html>
