<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="/css/index.css" />
      <link rel="stylesheet" type="text/css" href="/css/menu.css" />
      <link rel="stylesheet" type="text/css" href="/css/cursoInicio.css" />
      <link rel="stylesheet" type="text/css" href="/css/tablaCursoInicio.css" />

  </head>
  <body>
    <%if(!user){%>
      <div><%- include ('partials/navigation.ejs') %></div>

      <%}%>
    <% if (rtaCurso) { %>

  <div><%- include ('partials/navigationUsuarios.ejs') %></div>
<!--//////////////////-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<% if (user) { %>
  <div class="container">
  <div id="navCursos">
  <ul class="nav">
  <li class="nav-item active">
      <a class="nav-link" href="/courses/misCursos">
        <img src="/img/eye.png">
        Mis cursos<span class="sr-only">(current)</span></a>
    </li>

    <% if (user.usuario=='admin') { %>
  <li >
      <a class="nav-link">|</a>
    </li>
  <li class="nav-item">
      <a class="nav-link" href="/courses/cursos">
        <img src="/img/courses.png">&nbsp;Cursos</a>
    </li>
    <%}%>
  <li >
    <a class="nav-link">|</a>
  </li>
  <li class="nav-item">
<a class="nav-link" href="/topics/nuevoTema/<%= rtaUnidad._id %>/5/<%=rtaUnidad.idCurso%>">
  <img src="/img/add.png" alt="Nuevo" />&nbsp;Nuevo Tema</a>
  </li>
  </ul>
</div>
</div>
<%}%>
<!--//////////////////-->
        <div><br/></div>
          <div class="container">
    <div class="card">
      <div class="jumbotron" style="background-color: white">
        <a href="/courses/inicioCurso/<%= rtaCurso._id %>"><img src="/img/back.png">Regresar</a>
        <hr style="width:20%;text-align:left;margin-left:0">
        <% if(ok_registro.length>0) {%>
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <%= ok_registro %>
      </div>
      <% if(ok_registro_unidad.length>0) {%>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          Se ha creado correctamente la unidad <b><%= ok_registro_unidad %></b>
    </div>
      <%}%>
        <%}%>
        <% if(ok_editarUnidad.length>0) {%>
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            Unidad <b><%= ok_editarUnidad %></b> editada correctamente.
      </div>
        <%}%>
        <h6 class="card-title"><b><%=rtaCurso.nombre %></b> &gt;
          <b><span id="unidadNombre"><%=rtaUnidad.nombre%></span></B></h6>
        <span id="descripcion"><b>Descripción:</b> <%=rtaUnidad.descripcion%></span>


<% if(user){%>
  <br/><br/>
<table id="tablaInicio">
    <tr class="losTH">
      <th>Temas de la unidad</th>
      <th>Opciones</th>
    </tr>
    <% losTemas.forEach(function(t){%>
    <tr class="contenido">
        <td>
          <img src="/img/up.png" alt="Editar">
          <img src="/img/down.png" alt="Editar">
          <a href="#"><%= t.nombre %></a>
        </td>
        <td>
          <img src="/img/editarCurso.png" alt="Editar">
          <a href="#">Editar</a>&nbsp;&nbsp;
          <img src="/img/delete.png" alt="Editar">
          <a href="#">Eliminar</a>&nbsp;&nbsp;
        </td>
    </tr>
  <%});%>
</table>
<% } %>
        <% if(!user){%>
          <br/><br/>
        <table id="tablaInicio">
            <tr class="losTH">
              <th>Temas de la unidad
                &nbsp;&nbsp;<img src="/img/eye.png" alt="Editar"><a href="#">Ver juntos</a>
              </th>

            </tr>
            <% losTemas.forEach(function(t){%>
            <tr class="contenido">
                <td>
                  <a href="#"><%= t.orden %>.<%= t.nombre %></a>
                </td>

            </tr>
          <%});%>
        </table>

        <% } %>
        <%}%>


  </div>

</div>
  <div id="pie"><%- include ('partials/footer.ejs') %></div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

  </body>
</html>
